python data/make_funsd_data.py \
    --config_file ./configs/base/labeling_funsd.json \
    --label_dir ./dataset/training_data/annotations/ \
    --out_dir ./dataset/training_data/test_labels/




python training_scripts/labeling_segment/train_seg_labelling.py --config_file "/Users/nayanchoudhary/Documents/StructText/v1/configs/base/labeling_funsd.json" --label_path "/Users/nayanchoudhary/Documents/StructText/v1/dataset/training_data/train_labels" --image_path "/Users/nayanchoudhary/Documents/StructText/v1/dataset/training_data/images" --weights_path "/Users/nayanchoudhary/Documents/StructText/StrucTexT_base_funsd_labeling.pdparams"